/* ===========================
   VELOCITY 5000 WEBSITE
   Version 2.0
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --primary:#E31B23;
    --dark:#111111;
    --light:#F7F7F7;
    --white:#FFFFFF;
    --gray:#666666;

    --max-width:1200px;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;
    background:var(--light);
    color:var(--dark);

}

img{

    max-width:100%;
    display:block;

}

.container{

    width:min(90%,var(--max-width));
    margin:auto;

}
