/* ==========================================
   Velocity 5000 Website
   Version 2.0
========================================== */

:root{

    --primary:#E31B23;
    --dark:#111111;
    --light:#F7F7F7;
    --white:#FFFFFF;
    --gray:#666666;

    --max-width:1200px;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;
    background:var(--light);

}

img{

    display:block;
    max-width:100%;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

.container{

    width:min(90%,1200px);
    margin:auto;

}

/* ==========================
      NAVIGATION
========================== */

.navbar{

    background:#111111;

}

.navbar .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:85px;

}

.logo img{

    height:55px;

    width:auto;

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    color:white;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}
