*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F5F5F5;
    color:#111111;
    line-height:1.6;
}

header{
    background:#111;
    color:white;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
}

.hero{
    background:#d71920;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:white;
    color:#d71920;
    padding:15px 30px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}

section{
    max-width:1200px;
    margin:auto;
    padding:70px 20px;
}

.cards{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    border-radius:10px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}
